.wrapper {
    display: flex;
    flex-direction: row;
}

.mainBanco {
    flex-grow: 1;
  }

.mainBanco {
    background-image: url('https://res.cloudinary.com/dqbvoycsx/image/upload/v1681249431/FondoSuperCream_gmqglm.jpg');
    background-size: cover;
    height: 100vh;
}

.cardContainer {
    background-color: azure;
}