.wrapper {
    display: flex;
    flex-direction: row;
}

.mainBanco, .mainSeguridad, .mainProcesos, .mainIns  {
    flex-grow: 1;
}

.mainBanco {
    background-image: url('https://res.cloudinary.com/dqbvoycsx/image/upload/v1681249431/FondoSuperCream_gmqglm.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainSeguridad, .mainProcesos, .mainIns {
    background-image: url('https://res.cloudinary.com/dqbvoycsx/image/upload/v1681249431/FondoSuperCream_gmqglm.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainer {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
